<!DOCTYPE html>
<html>
<head>
    <title>Edit A Survey</title>
</head>
<body>
    <h1>Survey Editor</h1>
    <p>The currently selected survey is <%= @survey.name %>.</p>
    <a><button type="button">Change Name</button></a>
    <a href = <%= "/survey/" << params[:id] << "/question" %> ><button type="button">Edit Questions</button></a>
</body>
</html>