<!DOCTYPE html>
<html>
<head>
    <title>Simple Survey</title>
</head>
<body>
    <h1>Simple Survey</h1>

    <%= form_for :survey do |s| %>
        <p>
            <%= s.submit "Submit" %>
        </p>
    <% end %>
    
</body>
</html>