<!DOCTYPE html>
<html>
<head>
    <title>Edit Question</title>
</head>

<body>
    <%= form_for :question, :url =>  "/survey/" << params[:survey_id] << "/question/" << raw(params[:id]), :html => {:method => :patch} do |f| %>
        <p>
            <%= f.label "Question: " %>
            <%= f.text_field :question %>
        </p>

        <p>
            <%= f.submit "Save Changes" %>
        </p>

    <% end %>
</body>
</html>