<!DOCTYPE html>
<html>
<head>
    <title>Edit Questions</title>
</head>
<body>
    <h1>Edit Questions</h1>
    <% for q in @questions %>
        <p>Question: <%= q.question %> <a href=<%= "/survey/" << params[:survey_id] << "/question/" << raw(q.id) << "/edit" %>><button input="button">Edit Question</button></a> 
            <a href=<%= "/survey/" << params[:survey_id] << "/question/" << raw(q.id) << "/answer/" %>><button input="button">Edit answers</button></a></p>
    <% end %>
</body>
</html>