<!DOCTYPE html>
<html>
<head>
    <title>Edit Answers</title>
</head>
<body>
    <% for a in @answers %>
        <p><%= a.option %></p>
    <% end %>
    <a href=<%= "/survey/" << params[:survey_id] << "/question" %>><button input="button">Back</button></a>
</body>
</html>