<!DOCTYPE html>
<html>
<head>
    <title><%= @survey.name %></title>
</head>
<body>
    <h1> <%= @survey.name %></h1>
    <% form_for :submission do |f| %>
    <% for q in @questions %>
        <%= f.label q.question %>
        <% for a in @answers.where(:question_id => q.id) %>
            <p> <%= f.label a.option %></p>
        <% end %>
    <% end %>
    <% end %>
</body>
</html>